/* get the required local files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
  
  /* use the font */
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background:  #b2babb ;
    width: 100%;
  }